@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap");

$iphones: 375px;
$laptop: 1536px;
/* big screen 1920x1080 
  laptop      1536*700

1. iPhones - width 375 height 900
2. 360×640
3. 1366×768 - tablets
4. 1920×1080
*/
@mixin center-horizontally {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$app_yellow: rgb(179, 146, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blister {
  position: absolute;
  height: 100vh;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 218, 9),
    transparent
  );
  width: 25px;
  opacity: 0.3;
  left: -5rem;
}

.App {
  position: relative;
  overflow: hidden;
  background-image: url("./img/background\ -\ Copy.png");
  // background-position: 0px 0px; // for iPad
  background-repeat: no-repeat;
  // background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, sans-serif;
}

.logged-out-screen,
.logged-in-screen {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* FB Button*/

.fbLogin-section {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  .fbButton {
    margin-top: 2px;
    padding: 1rem;
    height: 5rem;
    width: 30%;
    font-size: 1.5rem;
    color: $app_yellow;
    background: rgb(255, 255, 255, 0.2);
    border: solid 3px rgb(71, 71, 71);
    border-radius: 5px;
    box-shadow: 0 0 50px 10px black;
    transition: all 0.6s ease;
    .loader {
      position: absolute;
      display: none;
    }
    &:hover {
      cursor: pointer;
      color: white;
      background: rgb(72, 103, 170);
      border: solid 3px black;
    }
  }
}

/* INPUT SECTION */

.input-section {
  position: relative;
  @include center-horizontally;
  height: 80%;
  width: 100%;
}

.input-form {
  position: relative;
  height: auto;
  width: 60%;
  font-family: "Amatic";
  .label-name {
    font-size: 1.3rem;
    position: absolute;
    color: azure;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 3px solid white;
  }
  .input-field {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background: transparent;
    outline: none;
  }

  .content-name {
    position: absolute;

    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
  }

  .input-field:focus + .label-name .content-name,
  .input-field:valid + .label-name .content-name {
    font-size: 1.1rem;
    transform: translateY(-200%);
  }

  .input-field:focus .App {
    background-position: 0px -450px;
  }

  .go-button {
    position: absolute;
    right: 0;
    bottom: 1rem;
    height: 1.7rem;
    width: 10rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: all 0.3s ease;
    animation: pulse 2s alternate infinite;
    &:hover {
      color: $app_yellow;
      border: 1px solid $app_yellow;
    }
  }
}

/* Pop Ups */

.logged-out-pop-up {
  position: absolute;
  height: 200px;
  width: 700px;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  animation: firstPopIn 0.5s ease forwards;
  img {
    height: 170px;
  }
}

.logged-in-pop-up {
  position: absolute;
  animation: secondPop 0.5s ease;
  height: 25%;
  width: 90%;
  @include center-horizontally;
  img {
    height: 100%;
    min-width: 45%;
  }
}

// Helper Pop up

.helper-popup {
  @include center-horizontally;
}

.helper-popup-menu-overlay {
}

.guide-card {
  @include center-horizontally;
  height: 600px;
  img {
    margin-top: 50px;
    border: 3px solid white;
  }
  p {
    padding: 10px;
    height: 20%;
    color: rgb(255, 255, 255);
  }
}

//
.logoLight {
}

.sign-out-button {
  margin-top: 2px;
  font-family: "Amatic";
  width: 70%;
  font-size: 0.75rem;
  color: rgb(66, 66, 66);
  background: rgb(255, 255, 255, 0.2);
  border: solid 2px rgb(71, 71, 71);
  border-radius: 5px;
  box-shadow: 0 0 30px 1px black;
  transition: all 0.6s ease;
  &:hover {
    border: solid 2px $app_yellow;
    transform: translateX(-10px);
    color: $app_yellow;
  }
}

.loader {
  position: absolute;
  font-family: "Amatic SC", cursive;
  top: 15rem;
  width: 100%;
  color: black;
  .comments-count {
    padding: 1rem;
    font-size: 30px;
  }
  .spinner-section,
  .comments-count {
    padding: 1rem;
    @include center-horizontally;
    width: 100%;
  }
}

/* COMMENT */

.comment-section {
  position: absolute;
  right: 0;
  left: 0;
  top: 35%;
  margin-right: auto;
  margin-left: auto;
  height: 10rem;
  width: 100vw;
}
.comment-box-wrapper {
  width: 100%;
  background: rgb(255, 255, 255, 0.05);
  box-shadow: 0 0 50px 10px black;
  .comment-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    width: 60%;
    // min-width: 50%;
    margin-right: auto;
    margin-left: auto;
    .comment-box-picture {
      max-width: 50%;
    }
    .comment-box-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .comment-box-comment {
        text-align: center;
        width: 100%;
        height: 50%;
        align-items: center;
        color: rgb(134, 90, 42);
        text-shadow: 0 0 10px whitesmoke;
      }
      .comment-box-name {
        // @include center-horizontally;
        width: 100%;
        text-align: center;
        font-size: 30px;
        // max-height: 100%;
        font-family: "Libre Baskerville", serif;
        transition: all 0.5s ease;
        // text-decoration: underline;
        text-shadow: 0 0 10px rgb(219, 219, 219);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* Profile Pic Circle */
.comment-box-picture {
  position: relative;
  margin-left: 5rem;
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  // position: absolute;
  height: 205%;
  width: 205%;
  animation: spin 100000ms linear infinite;
  // transition: all 0.3s ease;
}

.circle-content {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(214, 212, 212);
  // border-top-color: rgb(243, 214, 215);
  // border-bottom-color: rgb(249, 106, 108);
  // border-right-color: rgb(202, 92, 141);
  // border-left-color: rgb(134, 166, 108);
  transition: all 0.1s ease;
  &:hover {
    cursor: pointer;
    height: 102%;
    width: 102%;
  }
}

.profile-pic {
  position: absolute;
  height: 100%;
  width: 100%;
}
.comment-buttons {
  position: relative;
  margin-top: 6rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .new-winner-button,
  .new-give-button {
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    height: 3rem;
    width: 30%;
    transition: all 0.5s ease;
    &:hover {
      color: $app_yellow;
      border: 1px solid $app_yellow;
      transform: translateY(-5px);
      height: 4rem;
    }
  }
}

.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

// Desktops

@media (min-width: 1440px) and (max-width: 1920px) {
  .App {
    background-size: cover;
    background-position: 0px -400px;
  }

  .input-section {
    position: relative;
    height: 100%;
    .input-form {
      margin-top: 300px;
    }
  }

  .logged-in-pop-up {
    height: 32%;
    top: 15%;
  }

  .logged-out-pop-up {
    bottom: 150px;
  }

  .sign-out-button {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 20px;
    right: 50px;
    box-shadow: 0 0 50px 3px black;
  }
  .guide-card {
    img {
      margin-top: 50px;
      border: 3px solid white;
      max-height: 90%;
      max-width: 80%;
    }
  }
}

@media (max-height: 600px) {
  .App {
    background-position: 11% 20%;
    background-size: 875px 1312px;
  }
  // Logged Out Part

  .logoDark {
    margin-top: 33px;
    width: 100%;
    img {
      padding-top: 2rem;
      max-height: 50vh;
      max-width: 100%;
    }
  }

  .logged-out-pop-up {
    position: absolute;
    bottom: 90px;
    animation: firstPopIn 0.5s ease;
    min-height: 15%;
    width: 100%;
    img {
      height: 100%;
      max-width: 340px;
    }
  }

  /* FB LOGIN */
  .fbLogin-section {
    margin-right: auto;
    margin-left: auto;
    height: 44%;
    width: 100%;
    display: flex;
    justify-content: center;
    .fbButton {
      @include center-horizontally;
      width: auto;
      width: 70%;
      height: 4rem;
      font-size: 20px;
      // font-family: "Libre Baskerville", serif;
      font-family: "Amatic SC";
      transition: all 0.5s ease;
      margin-top: auto;
      margin-bottom: auto;
      padding: 1rem;
      color: rgb(150, 110, 37);
      // color: rgb(88, 88, 88);
      background: rgb(255, 255, 255, 0.2);
      border: solid 3px rgb(71, 71, 71);
      border-radius: 5px;
      box-shadow: 0 0 50px 10px black;
      transition: all 0.6s ease;
      &:hover {
        cursor: pointer;
        text-shadow: 2px 2px 8px rgb(201, 172, 108);
      }
      h1 {
        max-width: 100%;
        color: white;
        background: rgb(72, 103, 170);
        border: solid 3px black;
      }
    }
  }

  // Logged in part

  .logged-in-pop-up {
    position: absolute;
    animation: secondPop 0.5s ease;
    bottom: 300px;
    height: 120px;
    width: 100%;
    img {
      height: 100%;
      max-width: 370px;
    }
  }

  .logoLight {
    margin-top: 20px;
    @include center-horizontally;
    max-width: 759px;
  }
  img {
    width: 100%;
  }

  .sign-out-button {
    margin-top: 10px;
    // height: 2rem;
    width: 70%;
    font-size: 0.75rem;
    color: rgb(66, 66, 66);
    background: rgb(255, 255, 255, 0.2);
    border: solid 2px rgb(71, 71, 71);
    border-radius: 5px;
    transition: all 0.6s ease;
  }

  /* INPUT SECTION */

  .input-section {
    position: relative;
    @include center-horizontally;
    margin-top: 70%;
  }

  .input-form {
    position: relative;
    height: 70px;
    width: 80vw;
    .go-button {
      height: 2rem;
      width: 18rem;
      position: absolute;
      @include center-horizontally;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      top: 6rem;
      background: transparent;
      border: 1px solid white;
      color: white;
      outline: none;
      transition: all 0.3s ease;
      animation: pulse 2s alternate infinite;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
      }
    }
    .label-name {
      font-size: 1.3rem;
      position: absolute;
      color: rgb(236, 236, 236);
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-bottom: 3px solid rgb(230, 230, 230);
      text-shadow: 0px 0px 15px black;
    }
    .input-field {
      width: 100%;
      height: 100%;
      color: rgb(224, 224, 224);
      padding-top: 20px;
      padding-bottom: 20px;
      border: none;
      background: transparent;
      outline: none;
    }

    .content-name {
      position: absolute;
      text-shadow: 0 0 10px 5px black;
      bottom: 0px;
      left: 0px;
      transition: all 0.3s ease;
    }

    .input-field:focus + .label-name .content-name,
    .input-field:valid + .label-name .content-name {
      font-size: 1.1rem;
      transform: translateY(-150%);
      color: rgb(231, 231, 231);
    }

    .comment-box-comment {
      text-align: center;
      .input-field:focus .App {
        background-position: 0px -450px;
      }
    }

    /* COMMENT SECTION */

    .comment-buttons {
      position: relative;
      margin-top: 6rem;
      height: 10rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .new-winner-button,
      .new-give-button {
        border: 1px solid red;
        background: transparent;
        border: 1px solid white;
        border-radius: 3px;
        color: white;
        height: 3rem;
        min-width: 30%;
        max-width: 100%;
        max-height: 50%;
        font-size: 0.6rem;
        transition: all 0.5s ease;
        &:hover {
          color: $app_yellow;
          border: 1px solid $app_yellow;
          transform: translateY(-5px);
          height: 4rem;
          // width: 15rem;
        }
      }
    }

    .comment-section {
      position: absolute;
      right: 0;
      left: 0;
      top: 35%;
      margin-right: auto;
      margin-left: auto;
      height: 10rem;
      width: 100vw;
    }
    .comment-box-wrapper {
      position: relative;
      max-width: 100%;
      height: 10rem;
      background: rgb(255, 255, 255, 0.05);
      box-shadow: 0 0 50px 10px black;
      .comment-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: rgb(150, 103, 53);
        height: 5rem;
        max-width: 100%;
        min-width: 50%;
        top: -2rem;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        .comment-box-picture {
          max-width: 7rem;
          max-height: 7rem;
          margin-right: auto;
          margin-left: auto;
        }
        .comment-box-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .comment-box-comment {
            text-align: center;
            max-width: 90%;
            max-height: 50%;
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(134, 90, 42);
            text-shadow: 0 0 10px whitesmoke;
          }
          .comment-box-name {
            text-align: center;
            padding-top: 3rem;
            max-width: 100%;
            font-family: "Libre Baskerville", serif;
            transition: all 0.5s ease;
            text-shadow: 0 0 10px rgb(219, 219, 219);
            &:hover {
              cursor: pointer;
            }
            a {
              font-size: 24px;
              max-width: 100%;
            }
          }
        }
      }
    }

    /* Profile Pic Circle */
    .comment-box-picture {
      position: relative;
      margin-left: 5rem;
      height: 10rem;
      width: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .circle {
      // position: absolute;
      height: 205%;
      width: 205%;
      animation: spin 100000ms linear infinite;
      // transition: all 0.3s ease;
    }

    .circle-content {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid rgb(214, 212, 212);
      // border-top-color: rgb(243, 214, 215);
      // border-bottom-color: rgb(249, 106, 108);
      // border-right-color: rgb(202, 92, 141);
      // border-left-color: rgb(134, 166, 108);
      transition: all 0.1s ease;
      &:hover {
        cursor: pointer;
        height: 102%;
        width: 102%;
      }
    }

    .profile-pic {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  // Loader

  .loader {
    // border: 1px solid black;
    position: absolute;
    top: 15rem;
    // left: 0;
    // right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // width: 25rem;
    width: 100%;
    color: black;
    .comments-count {
      padding: 1rem;
    }
    .spinner-section,
    .comments-count {
      padding: 1rem;
      @include center-horizontally;
      width: 100%;
    }
  }

  // Comment Section

  /* COMMENT SECTION */

  .comment-section {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    margin-right: auto;
    margin-left: auto;
    height: 10rem;
    width: 100vw;
  }
  .comment-box-wrapper {
    position: relative;
    max-width: 100%;
    height: 9rem;
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 0 50px 10px black;
    .comment-box {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 5rem;
      max-width: 100%;
      min-width: 50%;
      top: -2rem;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      .comment-box-picture {
        max-width: 7rem;
        max-height: 7rem;
        // width: 80%;
        // height: 100%;
        margin-right: auto;
        margin-left: auto;
      }
      .comment-box-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .comment-box-comment {
          text-align: center;
          max-width: 90%;
          max-height: 50%;
          font-size: 0.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(134, 90, 42);
          text-shadow: 0 0 10px whitesmoke;
        }
        .comment-box-name {
          text-align: center;
          padding-top: 3rem;
          max-width: 100%;
          font-family: "Libre Baskerville", serif;
          transition: all 0.5s ease;
          text-shadow: 0 0 10px rgb(219, 219, 219);
          &:hover {
            cursor: pointer;
          }
          a {
            font-size: 24px;
            max-width: 100%;
          }
        }
      }
    }
  }

  .comment-buttons {
    position: relative;
    // margin-top: 6rem;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Amatic";
    .new-winner-button,
    .new-give-button {
      background: transparent;
      border: 1px solid white;
      border-radius: 3px;
      color: white;
      height: 3rem;
      min-width: 30%;
      max-width: 100%;
      transition: all 0.5s ease;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
        transform: translateY(-5px);
        height: 4rem;
        // width: 15rem;
      }
    }
  }
  /* Profile Pic Circle */
  .comment-box-picture {
    position: relative;
    margin-left: 5rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle {
    // position: absolute;
    height: 205%;
    width: 205%;
    animation: spin 100000ms linear infinite;
    // transition: all 0.3s ease;
  }

  .circle-content {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(214, 212, 212);
    // border-top-color: rgb(243, 214, 215);
    // border-bottom-color: rgb(249, 106, 108);
    // border-right-color: rgb(202, 92, 141);
    // border-left-color: rgb(134, 166, 108);
    transition: all 0.1s ease;
    &:hover {
      cursor: pointer;
      height: 102%;
      width: 102%;
    }
  }

  .profile-pic {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

// Mobile Devices
@media (min-width: 340px) and (max-width: 759px) and (min-height: 750px) {
  .App {
    background-position: 11% 20%;
    background-size: 875px 1312px;
  }
  // Logged Out Part

  .logoDark {
    margin-top: 100px;
    width: 100%;
    img {
      padding-top: 2rem;
      max-height: 50vh;
      max-width: 100%;
    }
  }

  .logged-out-pop-up {
    position: absolute;
    bottom: 150px;
    animation: firstPopIn 0.5s ease;
    min-height: 15%;
    width: 100%;
    img {
      height: 100%;
      max-width: 370px;
    }
  }

  .guide-card {
    img {
      margin-top: 50px;
      border: 3px solid white;
      max-height: 85%;
      max-width: 80%;
    }
  }

  /* FB LOGIN */
  .fbLogin-section {
    margin-right: auto;
    margin-left: auto;
    height: 46%;
    width: 100%;
    display: flex;
    justify-content: center;
    .fbButton {
      @include center-horizontally;
      width: auto;
      width: 70%;
      height: 4rem;
      font-size: 20px;
      // font-family: "Libre Baskerville", serif;
      font-family: "Amatic SC";
      transition: all 0.5s ease;
      margin-top: auto;
      margin-bottom: auto;
      padding: 1rem;
      color: rgb(150, 110, 37);
      // color: rgb(88, 88, 88);
      background: rgb(255, 255, 255, 0.2);
      border: solid 3px rgb(71, 71, 71);
      border-radius: 5px;
      box-shadow: 0 0 50px 10px black;
      transition: all 0.6s ease;
      &:hover {
        cursor: pointer;
        text-shadow: 2px 2px 8px rgb(201, 172, 108);
      }
      h1 {
        max-width: 100%;
        color: white;
        background: rgb(72, 103, 170);
        border: solid 3px black;
      }
    }
  }

  // Logged in part

  .logged-in-pop-up {
    position: absolute;
    animation: secondPop 0.5s ease;
    bottom: 400px;
    height: 120px;
    width: 100%;
    img {
      height: 100%;
      max-width: 370px;
    }
  }

  .logoLight {
    margin-top: 40px;
    @include center-horizontally;
    max-width: 759px;
  }
  img {
    width: 100%;
  }

  .sign-out-button {
    margin-top: 10px;
    // height: 2rem;
    width: 70%;
    font-size: 0.75rem;
    color: rgb(66, 66, 66);
    background: rgb(255, 255, 255, 0.2);
    border: solid 2px rgb(71, 71, 71);
    border-radius: 5px;
    transition: all 0.6s ease;
  }

  /* INPUT SECTION */

  .input-section {
    position: relative;
    @include center-horizontally;
    margin-top: 70%;
  }

  .input-form {
    position: relative;
    height: 70px;
    width: 80vw;
    .go-button {
      height: 2rem;
      width: 18rem;
      position: absolute;
      @include center-horizontally;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      top: 6rem;
      background: transparent;
      border: 1px solid white;
      color: white;
      outline: none;
      transition: all 0.3s ease;
      animation: pulse 2s alternate infinite;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
      }
    }
    .label-name {
      font-size: 1.3rem;
      position: absolute;
      color: rgb(236, 236, 236);
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-bottom: 3px solid rgb(230, 230, 230);
      text-shadow: 0px 0px 15px black;
    }
    .input-field {
      width: 100%;
      height: 100%;
      color: rgb(224, 224, 224);
      padding-top: 20px;
      padding-bottom: 20px;
      border: none;
      background: transparent;
      outline: none;
    }

    .content-name {
      position: absolute;
      text-shadow: 0 0 10px 5px black;
      bottom: 0px;
      left: 0px;
      transition: all 0.3s ease;
    }

    .input-field:focus + .label-name .content-name,
    .input-field:valid + .label-name .content-name {
      font-size: 1.1rem;
      transform: translateY(-150%);
      color: rgb(231, 231, 231);
    }

    .comment-box-comment {
      text-align: center;
      .input-field:focus .App {
        background-position: 0px -450px;
      }
    }

    /* COMMENT SECTION */

    .comment-buttons {
      position: relative;
      margin-top: 6rem;
      height: 10rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .new-winner-button,
      .new-give-button {
        border: 1px solid red;
        background: transparent;
        border: 1px solid white;
        border-radius: 3px;
        color: white;
        height: 3rem;
        min-width: 30%;
        max-width: 100%;
        max-height: 50%;
        font-size: 0.6rem;
        transition: all 0.5s ease;
        &:hover {
          color: $app_yellow;
          border: 1px solid $app_yellow;
          transform: translateY(-5px);
          height: 4rem;
          // width: 15rem;
        }
      }
    }

    .comment-section {
      position: absolute;
      right: 0;
      left: 0;
      top: 35%;
      margin-right: auto;
      margin-left: auto;
      height: 10rem;
      width: 100vw;
    }
    .comment-box-wrapper {
      position: relative;
      max-width: 100%;
      height: 10rem;
      background: rgb(255, 255, 255, 0.05);
      box-shadow: 0 0 50px 10px black;
      .comment-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: rgb(150, 103, 53);
        height: 5rem;
        max-width: 100%;
        min-width: 50%;
        top: -2rem;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        .comment-box-picture {
          max-width: 7rem;
          max-height: 7rem;
          margin-right: auto;
          margin-left: auto;
        }
        .comment-box-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .comment-box-comment {
            text-align: center;
            max-width: 90%;
            max-height: 50%;
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(134, 90, 42);
            text-shadow: 0 0 10px whitesmoke;
          }
          .comment-box-name {
            text-align: center;
            padding-top: 3rem;
            max-width: 100%;
            font-family: "Libre Baskerville", serif;
            transition: all 0.5s ease;
            text-shadow: 0 0 10px rgb(219, 219, 219);
            &:hover {
              cursor: pointer;
            }
            a {
              font-size: 24px;
              max-width: 100%;
            }
          }
        }
      }
    }

    /* Profile Pic Circle */
    .comment-box-picture {
      position: relative;
      margin-left: 5rem;
      height: 10rem;
      width: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .circle {
      // position: absolute;
      height: 205%;
      width: 205%;
      animation: spin 100000ms linear infinite;
      // transition: all 0.3s ease;
    }

    .circle-content {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid rgb(214, 212, 212);
      // border-top-color: rgb(243, 214, 215);
      // border-bottom-color: rgb(249, 106, 108);
      // border-right-color: rgb(202, 92, 141);
      // border-left-color: rgb(134, 166, 108);
      transition: all 0.1s ease;
      &:hover {
        cursor: pointer;
        height: 102%;
        width: 102%;
      }
    }

    .profile-pic {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  // Loader

  .loader {
    // border: 1px solid black;
    position: absolute;
    top: 15rem;
    // left: 0;
    // right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // width: 25rem;
    width: 100%;
    color: black;
    .comments-count {
      padding: 1rem;
    }
    .spinner-section,
    .comments-count {
      padding: 1rem;
      @include center-horizontally;
      width: 100%;
    }
  }

  // Comment Section

  /* COMMENT SECTION */

  .comment-section {
    position: absolute;
    right: 0;
    left: 0;
    top: 41%;
    margin-right: auto;
    margin-left: auto;
    height: 10rem;
    width: 100vw;
  }
  .comment-box-wrapper {
    position: relative;
    max-width: 100%;
    height: 9rem;
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 0 50px 10px black;
    .comment-box {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 5rem;
      max-width: 100%;
      min-width: 50%;
      top: -2rem;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      .comment-box-picture {
        max-width: 7rem;
        max-height: 7rem;
        // width: 80%;
        // height: 100%;
        margin-right: auto;
        margin-left: auto;
      }
      .comment-box-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .comment-box-comment {
          text-align: center;
          max-width: 90%;
          max-height: 50%;
          font-size: 0.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(134, 90, 42);
          text-shadow: 0 0 10px whitesmoke;
        }
        .comment-box-name {
          text-align: center;
          padding-top: 3rem;
          max-width: 100%;
          font-family: "Libre Baskerville", serif;
          transition: all 0.5s ease;
          text-shadow: 0 0 10px rgb(219, 219, 219);
          &:hover {
            cursor: pointer;
          }
          a {
            font-size: 24px;
            max-width: 100%;
          }
        }
      }
    }
  }

  .comment-buttons {
    position: relative;
    // margin-top: 6rem;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Amatic";
    .new-winner-button,
    .new-give-button {
      background: transparent;
      border: 1px solid white;
      border-radius: 3px;
      color: white;
      height: 3rem;
      min-width: 30%;
      max-width: 100%;
      transition: all 0.5s ease;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
        transform: translateY(-5px);
        height: 4rem;
        // width: 15rem;
      }
    }
  }
  /* Profile Pic Circle */
  .comment-box-picture {
    position: relative;
    margin-left: 5rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle {
    // position: absolute;
    height: 205%;
    width: 205%;
    animation: spin 100000ms linear infinite;
    // transition: all 0.3s ease;
  }

  .circle-content {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(214, 212, 212);
    // border-top-color: rgb(243, 214, 215);
    // border-bottom-color: rgb(249, 106, 108);
    // border-right-color: rgb(202, 92, 141);
    // border-left-color: rgb(134, 166, 108);
    transition: all 0.1s ease;
    &:hover {
      cursor: pointer;
      height: 102%;
      width: 102%;
    }
  }

  .profile-pic {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

// End of mobile devices media query

// CSS Transition Group

.fade-enter {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(200rem);
}

.fade-enter-active {
  opacity: 0.5;
  transition: all 0.3s ease;
  transform: translateX(100rem);
}
.fade-enter-done {
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(0rem);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0rem);
}
.fade-exit-active {
  transition: all 0.5s ease-in;
  transform: translateX(-200rem);
  opacity: 0.5;
}
.fade-exit-done {
  transition: all 0.5s ease-in;
  transform: translateX(-350rem);
  opacity: 0;
}

// Carousel

.carousel-arrow-right,
.carousel-arrow-left {
  position: absolute;
  @include center-horizontally;
  background: transparent;
  border: none;
  outline: none;
  user-select: none;
  color: $app_yellow;
  font-size: 35px;
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-bottom: auto;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $app_yellow;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.carousel-arrow-right {
  z-index: 2;
  position: absolute;
  right: 0;
}
.carousel-arrow-left {
  z-index: 2;
  position: absolute;
  left: 0;
}
.carousel-arrow {
  background: transparent;
  border: none;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  background: $app_yellow;
  color: black;
  border: 1px solid black;
  outline: none;
  animation: spinAnimation 1s, scaleAnimation 1s;
}

.carousel-arrow:disabled {
  visibility: hidden;
}

.rec.rec-dot {
  color: yellow;
  background: black;
  border: 1px solid $app_yellow;
}

.rec.rec-dot_active {
  color: rgb(134, 134, 131);
  background: $app_yellow;
  box-shadow: none;
}
//

/* ANIMATIONS */
.slide {
  animation: slide 2s ease forwards;
}

@keyframes slide {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(250rem);
  }
}

@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 5px 1px $app_yellow;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 5px 1px $app_yellow;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 5px 1px $app_yellow;
  }
}

@keyframes firstPopIn {
  0% {
    transform: translateX(100rem);
  }
  50% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes secondPop {
  0% {
    transform: translateX(100rem);
  }
  70% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
