@import "~bootstrap/dist/css/bootstrap.min.css";



$iphones: 375px;
$laptop: 1536px;
/* big screen 1920x1080 
  laptop      1536*700

1. iPhones - width 375 height 900
2. 360×640
3. 1366×768 - tablets
4. 1920×1080
*/
@mixin center-horizontally {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$app_yellow: rgb(179, 146, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  position: relative;
  overflow: hidden;
  background-image: url("./img/background\ -\ Copy.png");
  background-size: cover;
  // background-position: 0px 0px; // for iPad
  background-position: 0px -400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Verdana, sans-serif;
}

.logged-out-screen,
.logged-in-screen {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  // height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 761px) and (max-width: 1920px) {
  
  .blister {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(247, 231, 86, 0.1), transparent);
    width: 25%;
    left: -100rem;
    z-index: 1;
    transition: all 1s ease;
  }
  
  .slide {
    animation: slide 1s ease forwards;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0rem);
    }
    100% {
      transform: translateX(200rem);
    }
  }
  
  .loader {
    // border: 1px solid black;
    position: absolute;
    top: 15rem;
    // left: 0;
    // right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // width: 25rem;
    width: 100%;
    color: black;
    .comments-count {
      padding: 1rem;
    }
    .spinner-section,
    .comments-count {
      padding: 1rem;
      @include center-horizontally;
      width: 100%;
    }
  }
  
  .comment-buttons {
    position: relative;
    margin-top: 6rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .new-winner-button,
    .new-give-button {
      border: 1px solid red;
      position: absolute;
      background: transparent;
      border: 1px solid white;
      border-radius: 3px;
      color: white;
      height: 3rem;
      min-width: 30%;
      max-width: 100%;
      transition: all 0.5s ease;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
        transform: translateY(-5px);
        height: 4rem;
        // width: 15rem;
      }
    }
  }
  
  
  // .new-winner-button {
  //   left: 30rem;
  // }
  
  // .new-give-button {
  //   right: 30rem;
  // }
  
  .sign-out-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    margin-top: 2px;
    padding: 2px;
    height: 5rem;
    width: 5rem;
    font-size: 0.75rem;
    color: rgb(66, 66, 66);
    background: rgb(255, 255, 255, 0.2);
    border: solid 2px rgb(71, 71, 71);
    border-radius: 5px;
    box-shadow: 0 0 50px 3px black;
    transition: all 0.6s ease;
    &:hover {
      border: solid 2px $app_yellow;
      transform: translateX(-10px);
      color: $app_yellow;
    }
  }
  
  .logoLight,.logoDark {
    position: absolute;
    top: 0;
  }
  
  /* Pop Ups */
  
  .logged-out-pop-up {
    position: absolute;
    bottom: 10rem;
    height: 200px;
    width: 700px;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    animation: firstPopIn 0.5s ease forwards;
    img {
      height: 170px;
    }
  }
  
  .logged-in-pop-up {
    position: absolute;
    animation: secondPop 0.5s ease;
    bottom: 15rem;
    height: 200px;
    width: 700px;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    img {
      height: 170px;
    }
  }
  
  /* FB Button*/
  
  .fbLogin-section {
    position: absolute;
    top: 15rem;
    right: 0rem;
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    .fbButton {
      margin-top: 2px;
      padding: 1rem;
      height: 5rem;
      width: 20rem;
      font-size: 1.5rem;
      color: $app_yellow;
      // color: rgb(88, 88, 88);
      background: rgb(255, 255, 255, 0.2);
      border: solid 3px rgb(71, 71, 71);
      border-radius: 5px;
      box-shadow: 0 0 50px 10px black;
      transition: all 0.6s ease;
      &:hover {
        cursor: pointer;
        color: white;
        background: rgb(72, 103, 170);
        border: solid 3px black;
      }
    }
  }
  
  /* INPUT */
  
  .input-section {
    position: absolute;
    @include center-horizontally;
    bottom: 8rem;
  }
  
  .input-form {
    position: relative;
    height: 70px;
    width: 50vw;
    .label-name {
      font-size: 1.3rem;
      position: absolute;
      color: azure;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-bottom: 3px solid white;
    }
    .input-field {
      width: 100%;
      height: 100%;
      color: rgb(255, 255, 255);
      padding-top: 20px;
      padding-bottom: 20px;
      border: none;
      background: transparent;
      outline: none;
    }
    
    .content-name {
      position: absolute;
      
      bottom: 0px;
      left: 0px;
      transition: all 0.3s ease;
    }
    
    .input-field:focus + .label-name .content-name,
    .input-field:valid + .label-name .content-name {
      font-size: 1.1rem;
      transform: translateY(-200%);
    }
    
    .input-field:focus .App {
      background-position: 0px -450px;
    }
    
    .go-button {
      position: absolute;
      right: 0;
      bottom: 1rem;
      height: 1.7rem;
      width: 10rem;
      background: transparent;
      border: 1px solid white;
      color: white;
      outline: none;
      transition: all 0.3s ease;
      animation: pulse 2s alternate infinite;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
      }
    }
  }
  
  /* COMMENT */
  
  .comment-section {
    position: absolute;
    right: 0;
    left: 0;
    top: 35%;
    margin-right: auto;
    margin-left: auto;
    height: 10rem;
    width: 100vw;
  }
  .comment-box-wrapper {
    max-width: 100%;
    // border-top: 0.1px solid black;
    // border-bottom: 0.1px solid black;
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 0 50px 10px black;
    .comment-box {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 10rem;
      max-width: 60%;
      min-width: 50%;
      margin-right: auto;
      margin-left: auto;
      .comment-box-picture {
        max-width: 50%;
      }
      .comment-box-content {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .comment-box-comment {
          text-align: center;
          max-width: 90%;
          max-height: 50%;
          font-size: 0.8rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(134, 90, 42);
          text-shadow: 0 0 10px whitesmoke;
        }
        .comment-box-name {
          // @include center-horizontally;
          max-width: 100%;
          // max-height: 100%;
          font-family: "Libre Baskerville", serif;
          transition: all 0.5s ease;
          // text-decoration: underline;
          text-shadow: 0 0 10px rgb(219, 219, 219);
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  
  
  
  
  /* Profile Pic Circle */
  .comment-box-picture {
    position: relative;
    margin-left: 5rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle {
    // position: absolute;
    height: 205%;
    width: 205%;
    animation: spin 100000ms linear infinite;
    // transition: all 0.3s ease;
  }
  
  .circle-content {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(214, 212, 212);
    // border-top-color: rgb(243, 214, 215);
    // border-bottom-color: rgb(249, 106, 108);
    // border-right-color: rgb(202, 92, 141);
    // border-left-color: rgb(134, 166, 108);
    transition: all 0.1s ease;
    &:hover {
      cursor: pointer;
      height: 102%;
      width: 102%;
    }
  }
  
  .profile-pic {
    position: absolute;
    height: 100%;
    width: 100%;
  }  
}


/* MEDIA QUERIES */

@media (min-width: 1920px) {

  .App {
    background-size: cover;
    // background-position: 0px 0px; // for iPad
    background-position: 0px -550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .logoDark, .logoLight {
    width: 50vw;
    img {
      width: 100%;
    }
  }

  .fbLogin-section {
    height: 7rem;
    top: 23rem;
    .fbButton {
      height: 90%;
      width: 20%;
    }
  }

  .new-give-button,.new-winner-button {
    height: 3rem * 1.5;
    width: 14rem * 1.5;
    top: 25rem;
    &:hover {
      height: 4rem * 1.5;
      width: 15rem * 1.5;
      font-size: 19px;
      box-shadow: 0.1px 0 10px 0.5px $app_yellow;
      
    }
  }

  .logged-out-pop-up {
    height: 300px;
    width: 800px;
    img {
      height: 65%;
    }
  }

  .logged-in-pop-up {
    height: 300px;
    width: 800px;
    img {
      height: 70%;
    }
  }

  .sign-out-button {
    height: 6rem;
    width: 6rem;
  }

  .input-form {
    width: 60vw;
    .content-name {
      font-size: 24px;
    }
  .input-field:focus + .label-name .content-name,
  .input-field:valid + .label-name .content-name {
    font-size: 19px;
    transform: translateY(-200%);
  }
  .go-button {
    height: 1.7rem * 1.2;
    width: 10rem * 1.2;
  }
  }

  .loader {
    top: 20rem;
    font-family: "Libre Baskerville", serif;
    span {
      font-size: 20px;
    }
  }

  /* COMMENT SECTION */
.comment-box-wrapper {
  max-width: 100%;
  border-top: 0.1px solid black;
  border-bottom: 0.1px solid black;
  .comment-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    max-width: 60%;
    min-width: 50%;
    margin-right: auto;
    margin-left: auto;
    .comment-box-picture {
      max-width: 50%;
    }
    .comment-box-content {
      max-width: 50%;
      @include center-horizontally;
      .comment-box-name {
        // @include center-horizontally;
        max-width: 100%;
        // max-height: 100%;
        font-family: "Libre Baskerville", serif;
        transition: all 0.5s ease;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
          text-shadow: 2px 2px 8px rgb(201, 172, 108);
        }
      }
  
      .comment-box-comment {
        text-align: center;
        // max-width: 100%;
        max-height: 50%;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(150, 103, 53);
      }
    }
    }
  }
}

@media (min-width: 375px) and (max-width:759px) {
  .App {
    background-position: -50px -80px;
    background-size: 775px 1212px;
  }

  .loader {
    // border: 1px solid black;
    position: absolute;
    top: 15rem;
    // left: 0;
    // right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // width: 25rem;
    width: 100%;
    color: black;
    .comments-count {
      padding: 1rem;
    }
    .spinner-section,
    .comments-count {
      padding: 1rem;
      @include center-horizontally;
      width: 100%;
    }
  }

  .logoLight {
    position: absolute;
    top: 0rem;
    img {
      padding-top: 2rem;
      max-height: 50vh;
      max-width: 100vw;
    }
  }

  .logoDark {
    position: absolute;
    top: 0rem;
    img {
      padding-top: 2rem;
      max-height: 50vh;
      max-width: 100vw;
    }
  }

  .logged-out-pop-up {
    position: absolute;
    bottom: 12rem;
    animation: firstPopIn 0.5s ease;
    img {
      height: 120px;
      max-width: 100vw;
    }
  }


  .logged-in-pop-up {
    position: absolute;
    animation: secondPop 0.5s ease;
    bottom: 10rem;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 120px;
      max-width: 100vw;
    }
  }

  /* FB LOGIN */
  .fbLogin-section {
    position: absolute;
    top: 19rem;
    right: 0rem;
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    .fbButton {
      @include center-horizontally;
      margin-top: 2px;
      padding: 1rem;
      height: 4rem;
      width: 19rem;
      font-size: 1rem;
      color: $app_yellow;
      // color: rgb(88, 88, 88);
      background: rgb(255, 255, 255, 0.2);
      border: solid 3px rgb(71, 71, 71);
      border-radius: 5px;
      box-shadow: 0 0 50px 10px black;
      transition: all 0.6s ease;
      &:hover {
        cursor: pointer;
        color: white;
        background: rgb(72, 103, 170);
        border: solid 3px black;
      }
    }
  }

  .sign-out-button {
    position: absolute;
    width: 17rem;
    height: 2rem;
    top: 47rem;
    left: 0;
    right: 0;
    font-size: 0.8rem;
    margin-right: auto;
    margin-left: auto;
    background: rgb(224, 222, 222, 0.1);
    color: rgb(224, 222, 222);
    border: 1px solid rgb(224, 222, 222);
    border-radius: 3px;
  }

  /* INPUT SECTION */
  
  .input-form {
    position: relative;
    .go-button {
      height: 2rem;
      width: 18rem;
      position: absolute;
      @include center-horizontally;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      top: 6rem;
      background: transparent;
      border: 1px solid white;
      color: white;
      outline: none;
      transition: all 0.3s ease;
      animation: pulse 2s alternate infinite;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
      }
    }
  }
  .input-section {
    position: absolute;
    @include center-horizontally;
    bottom: 17rem;
  }
  
  .input-form {
    position: relative;
    height: 70px;
    width: 80vw;
    .label-name {
      font-size: 1.3rem;
      position: absolute;
      color: azure;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-bottom: 3px solid white;
    }
    .input-field {
      width: 100%;
      height: 100%;
      color: rgb(255, 255, 255);
      padding-top: 20px;
      padding-bottom: 20px;
      border: none;
      background: transparent;
      outline: none;
    }
    
    .content-name {
      position: absolute;
      
      bottom: 0px;
      left: 0px;
      transition: all 0.3s ease;
    }
    
    .input-field:focus + .label-name .content-name,
    .input-field:valid + .label-name .content-name {
      font-size: 1.1rem;
      transform: translateY(-200%);
    }
    
    .input-field:focus .App {
      background-position: 0px -450px;
    }
  }

  /* COMMENT SECTION */

  .comment-buttons {
    position: relative;
    margin-top: 6rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .new-winner-button,
    .new-give-button {
      border: 1px solid red;
      background: transparent;
      border: 1px solid white;
      border-radius: 3px;
      color: white;
      height: 3rem;
      min-width: 30%;
      max-width: 100%;
      transition: all 0.5s ease;
      &:hover {
        color: $app_yellow;
        border: 1px solid $app_yellow;
        transform: translateY(-5px);
        height: 4rem;
        // width: 15rem;
      }
    }
  }
  
  .comment-section {
    position: absolute;
    right: 0;
    left: 0;
    top: 35%;
    margin-right: auto;
    margin-left: auto;
    height: 10rem;
    width: 100vw;
  }
  .comment-box-wrapper {
    position: relative;
    max-width: 100%;
    height: 10rem;
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 0 50px 10px black;
    .comment-box {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 5rem;
      max-width: 100%;
      min-width: 50%;
      top: -2rem;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      .comment-box-picture {
        max-width: 7rem;
        max-height: 7rem;
        margin-right: auto;
        margin-left: auto;
      }
      .comment-box-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .comment-box-comment {
          text-align: center;
          max-width: 90%;
          max-height: 50%;
          font-size: 0.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(134, 90, 42);
          text-shadow: 0 0 10px whitesmoke;
        }
        .comment-box-name {
          text-align: center;
          padding-top: 3rem;
          max-width: 100%;
          font-family: "Libre Baskerville", serif;
          transition: all 0.5s ease;
          text-shadow: 0 0 10px rgb(219, 219, 219);
          &:hover {
            cursor: pointer;
          }
          a {
            font-size: 24px;
            max-width: 100%;
          }
      }    
      }
    }
  }
  
  /* Profile Pic Circle */
  .comment-box-picture {
    position: relative;
    margin-left: 5rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circle {
    // position: absolute;
    height: 205%;
    width: 205%;
    animation: spin 100000ms linear infinite;
    // transition: all 0.3s ease;
  }
  
  .circle-content {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(214, 212, 212);
    // border-top-color: rgb(243, 214, 215);
    // border-bottom-color: rgb(249, 106, 108);
    // border-right-color: rgb(202, 92, 141);
    // border-left-color: rgb(134, 166, 108);
    transition: all 0.1s ease;
    &:hover {
      cursor: pointer;
      height: 102%;
      width: 102%;
    }
  }
  
  .profile-pic {
    position: absolute;
    height: 100%;
    width: 100%;
  }  
}

// CSS Transition Group

.fade-enter {
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(200rem);
}

.fade-enter-done {
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateX(0rem);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0rem);
}
.fade-exit-active {
  transition: all 0.5s ease-in;
  transform: translateX(-200rem);
  opacity: 0.5;
}

/* ANIMATIONS */
@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 5px 1px $app_yellow;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 5px 1px $app_yellow;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 5px 1px $app_yellow;
  }
}

@keyframes firstPopIn {
  0% {
    transform: translateX(100rem);
  }
  50% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes secondPop {
  0% {
    transform: translateX(100rem);
  }
  70% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}